<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Sistem_Keuangan_Usaha_Seafood.Properties.Settings.SistemKeuanganUsahaSeafoodConnectionString"
            connectionString="Data Source=MSI\MSSQLSERVER01;Initial Catalog=SistemKeuanganUsahaSeafood;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
        <add name="Sistem_Keuangan_Usaha_Seafood.Properties.Settings.Sistem_Keuangan_Usaha_SeafoodConnectionString"
            connectionString="Data Source=MSI\MSSQLSERVER01;Initial Catalog=Sistem_Keuangan_Usaha_Seafood;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>